<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CFdoc for {{ cfdoc.name | e }}</title>
    <style>
        {% set link_colour="blue" %}
        * {
            font-family: "Arial", "Helvetica", sans-serif;
            font-size: 10pt;
        }

        body {
            width: 800px;
        }

        code {
            font-family: monospace, sans-serif;
        }

        a {
            color: {{ link_colour }};
            font-family: inherit;
            font-size: inherit;
            text-decoration: none;
        }

        a:hover {
            color: cornflowerblue;
        }

        a:active {
            color: purple;
        }

        h1 {
            color: {{ link_colour }};
            font-size: 14pt;
            text-align: center;
            width: 800px;
        }

        h2 {
            color: {{ link_colour }};
            font-size: 14pt;
        }

        h3 {
            color: #222222;
            font-size: 12pt;
        }

        th, td {
            border: thin solid #a9a9a9;
            text-align: left;
            padding: 2px 5px;
            margin: 0;
        }

        table {
            border-collapse: collapse;
        }

        th.top {
            background-color: #d3d3d3;
            text-align: center;
        }

        th.left {
            background-color: #d3d3d3;
            white-space: nowrap;
            text-align: left;
            vertical-align: top;
            width: 1px;
        }
    </style>
</head>
<body>
<a name="_top"></a>
<h1>{{ cfdoc.title | e }}</h1>
<div style="font-size:small; color:#aaaaaa;text-align:center">
    <p>
        Generated by <a target="_blank" href="{{ common.project_url }}"
                        title="CFdoc project site">{{ common.prog | e }}</a>
        on {{ common.now_ctime | e }}.
    </p>
</div>

{# -------------------------------------------------------------------------- #}
<h2>Contents</h2>
<ul>
{% if cfdoc.overview.Description %}
    <li><a href="#_desc" title="Go to template description section">Description</a></li>
{% endif %}
    <li><a href="#_details" title="Go to template details section">Details</a></li>
{% if cfdoc.parameters %}
    <li><a href="#_param" title="Go to template parameters section">Parameters</a></li>
{% endif %}
    <li><a href="#_rsrcsum" title="Go to template resources summary section">Resource Summary</a>
        <ul>
            {% for resgrp in cfdoc.resource_groups if cfdoc.resource_groups[resgrp].Members %}
                <li>
                    <a href="#_summary_{{ resgrp | e }}"
                       title="Go to resources list for {{ cfdoc.resource_groups[resgrp].Name }}">
                        {{ cfdoc.resource_groups[resgrp].Name | e }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% if cfdoc.outputs %}
    <li><a href="#_outputs" title="Go to template outputs section">Outputs</a></li>
{% endif %}
    <li><a href="#_rsrcdetail" title="Go to full details for all resources">Resource Details</a></li>
    <li>
        <a target="_blank" href="{{ cfdoc.plugins.awsdoc.index }}" title="AWS CloudFormation documentation">
            AWS CloudFormation documentation</a>.
    </li>
</ul>

{# -------------------------------------------------------------------------- #}
{% if cfdoc.overview.Description %}
<h2><a name="_desc"></a><a href="#_top" title="Go to top of page">Description</a></h2>
{% for para in cfdoc.overview.Description %}
    <p>{{ para }}</p>
{% endfor %}
{% endif %}

{# -------------------------------------------------------------------------- #}
<h2><a name="_details"></a><a href="#_top" title="Go to top of page">Details</a></h2>
<table>
    {% for key in cfdoc.overview if not key == "Description" -%}
        <tr>
            {%- if cfdoc.overview[key] -%}
                <th class="left">{{ key | e }}</th>
                <td>{{ cfdoc.overview[key] | join(" ") }}</td>
            {%- endif %}
        </tr>
    {% endfor %}
</table>

{# -------------------------------------------------------------------------- #}
<h2><a name="_param"></a><a href="#_top" title="Go to top of page">Parameters</a></h2>
<table>
    <tr>
        <th class="top">Parameter</th>
        <th class="top">Type</th>
        <th class="top">Description</th>
    </tr>
    {% for param in cfdoc.parameters -%}
        <tr>
            <td>{{ param | e }}</td>
            <td>{{ cfdoc.parameters[param].Type | e }}</td>
            <td>{{ cfdoc.parameters[param].Description | join(" ") }}</td>
        </tr>
    {% endfor %}
</table>

{# -------------------------------------------------------------------------- #}
<h2><a name="_rsrcsum"></a><a href="#_top" title="Go to top of page">Resource Summary</a></h2>

{#
Create a summary for each resource, collected into resource groups.
Cross link the summary for each resource with its detail entry.
#}
{% for resgrp in cfdoc.resource_groups if cfdoc.resource_groups[resgrp].Members %}
    <h3>
        <a name="_summary_{{ resgrp | e }}"></a>
        <a href="#_top" title="Go to top of page">{{ cfdoc.resource_groups[resgrp].Name | e }}</a>
    </h3>
    <table>
        <tr>
            <th class="top">Id</th>
            <th class="top">Type</th>
            <th class="top">Description</th>
        </tr>
        {% for rsrc_id in cfdoc.resource_groups[resgrp].Members -%}
            <tr>
                <td>
                    <a name="_rsrcsum_{{ rsrc_id | e }}"></a>
                    <a href="#_rsrcdetail_{{ rsrc_id | e }}" title="Go to resource detail">{{ rsrc_id | e }}</a>
                </td>
                <td>{{ cfdoc.resources[rsrc_id].Type | re_match(".*::.*::(.*)") }}</td>
                <td>{{ cfdoc.resources[rsrc_id].Description[0] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}

{# -------------------------------------------------------------------------- #}
{% if cfdoc.outputs %}
    <h2><a name="_outputs"></a><a href="#_top" title="Go to top of page">Outputs</a></h2>
    <table>
        <tr>
            <th class="top">Id</th>
            <th class="top">Export as</th>
            <th class="top">Description</th>
        </tr>
        {% for op_id in cfdoc.outputs -%}
            <tr>
                <td style="width:1px;white-space:nowrap;">{{ op_id | e }}</td>
                <td>{{ cfdoc.outputs[op_id]["Export"] if cfdoc.outputs[op_id]["Export"] else "&nbsp;" }}</td>
                <td>{{ cfdoc.outputs[op_id]["Description"] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{# -------------------------------------------------------------------------- #}
<h2><a name="_rsrcdetail"></a><a href="#_top" title="Go to top of page">Resource Details</a></h2>
{# List every resource in detail #}
{% for rsrc_id in cfdoc.resources | sort %}
    <h3>
        <a name="_rsrcdetail_{{ rsrc_id | e }}"></a>
        <a href="#_rsrcsum_{{ rsrc_id | e }}" title="Go to summary for this resource">{{ rsrc_id | e }}</a>
    </h3>
    <table width="100%">
        {# Handle the Type key specially to include links to AWS doco if available #}
        {% if "Type" in cfdoc.resources[rsrc_id] %}
            <tr>
                <th class="left">Type</th>
                <td>
                    {% if cfdoc.resources[rsrc_id]['Type'] in cfdoc.plugins.awsdoc.resources %}
                        <a target="_blank"
                           href="{{ cfdoc.plugins.awsdoc.resources[cfdoc.resources[rsrc_id]['Type']] }}"
                           title="AWS documentation for this resource type">
                    {% endif %}
                    {{ cfdoc.resources[rsrc_id]['Type'] | e }}
                    {% if cfdoc.resources[rsrc_id]['Type'] in cfdoc.plugins.awsdoc.resources %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if "Group" in cfdoc.resources[rsrc_id] %}
            <tr>
                <th class="left">Group</th>
                <td>
                    <a href="#_summary_{{ cfdoc.resources[rsrc_id]["Group"] | e }}"
                       title="Go to resource list for {{ cfdoc.resource_groups[cfdoc.resources[rsrc_id].Group].Name }}">
                        {{ cfdoc.resource_groups[cfdoc.resources[rsrc_id].Group].Name }}</a>
                    <a href="#_summary_{{ cfdoc.resources[rsrc_id]["Group"] | e }}"
                       title="Go to resource list for {{ cfdoc.resource_groups[cfdoc.resources[rsrc_id].Group].Name }}">
                        ({{ cfdoc.resources[rsrc_id].Group }})</a>
                </td>
            </tr>
        {% endif %}
        {% for key in cfdoc.resources[rsrc_id] if key not in ("JSON", "Group", "Type") and cfdoc.resources[rsrc_id][key] %}
            <tr>
            <th class="left">{{ key | e }}</th>
            {% if cfdoc.resources[rsrc_id][key] is string %}
                <td>{{ cfdoc.resources[rsrc_id][key] | e }}</td>
            {% else %}
                <td>{{ cfdoc.resources[rsrc_id][key] | join("<br><br>") }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        {# Add the JSON for the resource #}
        {% if cfdoc.resources[rsrc_id].JSON %}
            <tr>
                <th class="left">JSON</th>
                <td>
                    <pre style="margin:0"><code>{{ cfdoc.resources[rsrc_id].JSON }}</code></pre>
                </td>
            </tr>
        {% endif %}
    </table>
{% endfor %}

{# -------------------------------------------------------------------------- #}
<div style="font-size:small; color:#aaaaaa;text-align:center">
    <p>
        Generated by
        <a target="_blank" href="{{ common.project_url }}" title="CFdoc project site"> {{ common.prog | e }}</a>
        at {{ common.now_ctime | e }}.
    </p>
</div>
</body>
</html>
